[Unit]
Description=Run foobar on resume from sleep
After=suspend.target

[Service]
Type=oneshot
User=evan
ExecStart=/bin/sh -c "adb connect firetv:5555 | adb shell input keyevent 26"

[Install]
WantedBy=suspend.target
